body {
    background-color: rgba(93,161,215);
}

body {
    text-align: center;
}

h1, .tiny, .bollet, .large {
    color: white
}

.tiny, .large {
    font-family: 'Times New Roman', Times, serif;
}

.bollet, ol, .foot {
    font-weight: bold;
}

h1:hover{
    color: black
}

.tiny {
    line-height: 30px;
}

ol {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align:left;
}

li + li {
    margin-top: 10px;
}

img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.large {
    font-size: 40px;
    margin: auto;
    width: 350px;
    
}

.foot {
    margin: 10px;
    line-height: 1.2;
}