@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 64px;
}

.logo {
    width: 60px;
    position:relative;
    left: 30px;
    top: 3px;
}

header{
    display: flex;
    background-color: rgb(117,217,102);
}

header .main {
    margin: 20px auto;
}

nav .link {
    margin: 20px 30px;
}
