@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 64px;
}

.logo {
    width: 60px;
    position:relative;
    left: 30px;
    top: 3px;
}

header{
    display: flex;
    background-color: rgb(117,217,102);
}

header .main {
    margin: 20px auto;
}

nav .link {
    margin: 20px 30px;
}

footer{
    margin-top: 100px;
    background-color: rgb(117,217,102);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 30px;
}

.alunet{
    grid-column: 1/2;
    justify-self: center;
}

.first{
    grid-column: 2/3;
    justify-self: center;
}

.second{
    grid-column: 3/4;
    justify-self: center;
}

.third{
    grid-column: 4/5;
    justify-self: center;
}