@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family:Roboto;
}

h1, .top a,.bottom a {
    font-family: "Orbitron";
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 64px;
}

.logo {
    width: 60px;
    margin: 0 30px;
}

header{
    display: flex;
    background-color: rgb(117,217,102);
}

header .main {
    margin: 20px auto;
    align-content: center;
}

nav .link {
    margin: 20px 30px;
}

 h1, .bottom {
    text-align: center;
}

.top p{
    text-align: center;
}

#hero{
    margin:30px;
    border-top: 30px solid #ffd78d;
    border-bottom: 30px solid #ffd78d;
    border-color: #FFD78D;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main img{
    width: 70%;
}

.top .finding, .msgf, .f, .f-b{
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

.top .sending, .msgs, .s, .s-b{
    grid-column: 2/3;
    justify-self: center;
}

.top p, .bottom p{
    font-size: 20px;
}

.bottom {
    margin-top: 100px;
}

.bottom p{
    margin-top: -20px;
}

.bottom a{
    margin-top: -20px;
}

footer{
    margin-top: 100px;
    background-color: rgb(117,217,102);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 30px;
}

.alunet{
    grid-column: 1/2;
    justify-self: center;
}

.first{
    grid-column: 2/3;
    justify-self: center;
}

.second{
    grid-column: 3/4;
    justify-self: center;
}

.third{
    grid-column: 4/5;
    justify-self: center;
}

a:hover{
    color: rgb(117,217,102);
}

header a:hover, footer a:hover{
    color: #FFD78D;
}

/* body {
    background: repeating-linear-gradient(
        45deg,
        rgb(117,217,102),
        rgb(117,217,102) 15px,
    #fff 0,
    #fff 800px
    );
} */